*, *:before, *:after {
	box-sizing: inherit;
}

html {
	min-height: 100%;
	min-width: 100%;
	font-size: 125%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	min-height: 100%;
	min-width: 100%;
	margin: 0rem 0rem;
	font-family: 'Nunito', sans-serif;
	background-color: #FFFFF0;
}

.wrapperdiv {
	display: flex;
	flex-direction: row;
}

.verticalnav {
	min-height: 100%;
	width: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	position: fixed;
	background-color: #6B6D76;
	transition: transform .2s ease;
}

.mobilenav {
	height: 3rem;
	width: 100%;
	padding-right: 0.75rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	background-color: #6B6D76;
	z-index: 1;
	transform: translateY(-150%);
	transition: transform .2s ease;
}

main {
	height: 100%;
	width: 100%;
	margin-left: 15rem;
	display: flex;
	flex-direction: column;
}

.block {
	height: 100vh;
	padding: 2rem;
	display: grid;
	grid-template: 0.2fr 1fr 1fr / 1fr 1fr;
	border-bottom: 1px solid rgba(107, 109, 118, 0.3);
}

.projectblock {
	height: 100vh;
	padding: 2rem;
	display: grid;
	grid-template: 0.2fr 1fr / 1fr 1fr;
	border-bottom: 1px solid rgba(107, 109, 118, 0.3);
}

.carouselblock {
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border-bottom: 1px solid rgba(107, 109, 118, 0.3);
}

.carouselsection {
	flex-grow: 1;
	position: relative;
	overflow: hidden;
	margin: 2rem;
	margin-top: 1rem;
	border-radius: 20px;
	background-color: rgba(107, 109, 118, 0.3);
}

.carouselcard {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template: 3fr 1fr / 2fr 1fr;
	position: absolute;
	transition: transform 400ms ease;
}

.carouselcard[data-status="inactive"] {
	transform: translateX(-100%);
	transition: none;
}

.carouselcard[data-status="active"] {
  transform: translateX(0%);
}

.carouselcard[data-status="before"] {
  transform: translateX(-100%);
}

.carouselcard[data-status="after"] {
  transform: translateX(100%);
}

.carouselcard[data-status="becoming-active-from-before"] {
  transform: translateX(-100%);
  transition: none;
}

.carouselcard[data-status="becoming-active-from-after"] {
  transform: translateX(100%);
  transition: none;
}

.carouselmedia {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3rem 2rem;
	margin-bottom: 1rem;
}

.carouseldescription {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3rem 2rem;
	margin-left: 0rem;
	margin-bottom: 1rem;
	color: #6B6D76;
}

.carouseltitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 4.5rem;
}

.carouselarrows {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.fa-arrow-left, .fa-arrow-right {
	font-size: 2.5rem;
	position: relative;
	left: -14%;
}

.fa-arrow-up-right-from-square {
	font-size: 1.5rem;
	color: #FFFFF0;
	position: relative;
	top: 25%;
	left: 26%;
	
}

.contactblock {
	height: 50vh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.contactdiv {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.contactbuttondiv {
	width: 12rem;
}

button {
	border: none;
    background: none;
}

.navbutton {
	height: 1.5rem;
}

.arrowbutton {
	background-color: #6B6D76;
	color: #FFFFF0;
	border-radius: 20px;
	width: 3.5rem;
	height: 3rem;
}

.projectbutton {
	background-color: #6B6D76;
	border-radius: 20px;
	width: 3rem;
	height: 3rem;
}

.top {
	grid-row: 2 / 3;
}

.bottom {
	grid-row: 3 / 4;
}

.left {
	grid-column: 1 / 2;
}

.right {
	grid-column: 2 / 3;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	padding: 1rem 1rem;
	margin: 3rem 2rem;
	background-color: #FFFFF0;
	color: #6B6D76;
	transition: 0.2s;
}

.contactlink {
	background-color: #6B6D76;
	color: #FFFFF0;
	border-radius: 20px;
	display: flex;
	align-items: center;
	overflow: hidden;
	height: 4rem;
	width: auto;
	max-width: 3.4rem;
	margin: 4rem 2rem;
	transition: all 0.2s, max-width 0.2s;
}

.contactlink:hover {
	max-width: 8rem;
}

#email:hover {
	max-width: 7rem;
}

.contacticon {
  	padding: 0rem 1rem;
  	display: flex;
  	align-items: center;
	color: #FFFFF0;
}

#email .contacticon {
	padding: 0rem 0.85rem;
	padding-top: 0.2rem;
	margin-right: 0.5rem;
}

.contacttext {
	color: #FFFFF0;
	white-space: nowrap;
  	padding-right: 1rem;
}

.titlebox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 51rem;
	background-color: rgba(255, 255, 240, 0.8);
	color: #6B6D76;
	border-radius: 20px;
	padding-bottom: 1rem;
	padding-right: 2rem;
	margin: 2rem;
}

.titletextbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.titleboxmobile {
	display: none;
}

.textbox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 1rem 2rem;
	background-color: #FFFFF0;
	color: #6B6D76;
}

.verticalbox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.imagebox {
	margin: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

#audible {
	padding-bottom: 2rem;
}

.photoshadow {
	filter: drop-shadow(7px 8px 4px #656565);
}

video {
	margin: 1rem;
}

.hero {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	min-width: 100%;
	background-image: url(/images/crls.jpg);
	background-size: cover;
}

.orangeshadow:hover {
	box-shadow: 6px 4px 0px 3px rgba(255, 124, 10, 1);
	transform: translate(-1px, -1px);
	transition: 0.2s;
}

lord-icon {
	width: 4rem;
	height: 4rem;
}

.icons img, i {
	vertical-align: middle;
	width: 1.333rem;
}

.mobilenav i {
	color: #FFFFF0;
}

.sectionheader {
	display: flex;
	align-items: center;
	margin: 1rem;
	margin-left: 2rem;
	grid-column: 1 / 3;
}

.projectheader {
	display: flex;
	align-items: center;
	color: #656565;
}

h1 {
	font-size: 3.157rem;
	line-height: 1.5396;
	text-align: center;
	color: #000000;
	margin: 1rem 0rem;
}

h2 {
	font-size: 2.369rem;
	line-height: 1.5744;
	text-align: center;
	margin: 0rem;
}

h3 {
	font-size: 1.333rem;
	line-height: 1.6667;
	text-align: center;
	margin: 0;
}

p, blockquote, li {
	font-size: 1rem;
	line-height: 1.75;
}

.titletextbox p {
	text-align: center;
}

a:link {
	color: #6B6D76;
	text-decoration: none;
}

a:visited {
	color: #6B6D76;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	padding-left: 0rem;
}

ul {
	margin-top: 0;
}

#skills li {
	font-size: 1.333rem;
}

@media (max-width: 1536px) {

	html {
		font-size: 100%;
	}

	.imagebox img {
		width: 70%;
	}

	iframe {
		height: 315px;
		width: 615px;
	}

	h1 {
		font-size: 3.375rem;
	}

	h2 {
		font-size: 3.157rem;
	}

	/* #skills h3 {
		font-size: 1.777rem;
	} */

	.titletextbox p {
		font-size: 125%;
	}

	p, blockquote, li {
		font-size: 1rem;
		line-height: 1.625rem;
	}

	#skills li {
		font-size: 1.25rem;
	}
}

@media (max-width: 1366px) {

	html {
		scroll-padding-top: 3rem;
	}
	
	main {
		margin-left: 0rem;
		margin-top: 3rem;
	}
	
	.verticalnav {
		transform: translateX(-150%);
		transition: transform .2s ease;
		z-index: 1;
	}

	.opennav .verticalnav{
		transform: translateX(0%);
		transition: transform .2s ease;
	}

	.changeicons .fa-bars {
		display: none !important;
		position: absolute;
	} 
	
	.changeicons .fa-xmark {
		display: block !important;
	}

	.mobilenav {
		transform: translateY(0%);
		transition: transform .2s ease;
	}

	.hero {
		height: 93vh;
	}

	.imagebox img {
		width: 70%;
	}

	.block {
		height: 93vh; 
	}

	.projectblock {
		height: 93vh;
	}

	.carouselblock {
		height: 93vh;
	}

	.carouseltitle {
		padding: 0 7.5rem;
	}

	.carouseltitle h2 {
		font-size: 2rem;
	}

	#skills h3 {
		font-size: 1.2rem;
	}

	.icons i {
		padding-left: 0.1rem;
		vertical-align: middle;
		font-size: 125%;
	}

	iframe {
		height: 250px;
		width: 580px;
	}
	
	.fa-bars {
		display: block;
	}

	.fa-xmark {
		display: none !important;
	}
}

@media (max-width: 36rem) {
	
	html {
		scroll-padding-top: 3rem;
	}

	.hero {
		background-size: cover;
		background-repeat: no-repeat;
		align-items: flex-start;
		height: 60%;
	}

	.imageaspect {
		aspect-ratio: 509 / 490;
		width: 50%;
	}

	.block {
		display: flex;
		flex-direction: column;
		padding: 0.5rem;
		height: fit-content;
	}

	.projectblock {
		display: flex;
		flex-direction: column;
		padding: 0.5rem;
		height: fit-content;
	}

	.carouselblock {
		padding: 0.5rem;
		height: 96vh;
	}

	.contactblock {
		padding: 0.5rem;
	}

	.contactdiv {
		flex-direction: column;
		align-items: center;
	}

	.contactlink {
		max-width: 8rem;
		margin: 2rem;
	}

	#email:hover {
		max-width: 8rem;
	}

	.titlebox {
		display: none;
	}

	.titleboxmobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 30rem;
		background-color: rgba(255, 255, 240, 0.8);
		color: #6B6D76;
		border-radius: 20px;
		padding: 1rem 1rem;
		margin: 2rem;
	}

	.titletextbox {
		flex-direction: row;
	}

	.titletextbox p {
		font-size: 110%;
	}

	.textbox {
		margin: 0rem;
		margin-left: 1.5rem;
		margin-right: 1rem;
		margin-top: 1rem;
	}

	.imagebox {
		display: none;
	}

	iframe {
		width: 330px;
		height: 180px;
	}

	.sectionheader {
		margin: 0.5rem;
		margin-left: 1rem;
	}

	lord-icon {
		width: 3rem;
		height: 3rem;
	}

	.carouselsection {
		margin: 1rem 1rem;
	}

	.carouselcard {
    	display: flex;
		flex-direction: column;
  	}

	.carouseltitle {
    	order: 1;
		padding: 1rem 1.5rem;
		padding-top: 2rem;
  	}

	.carouseltitle h2 {
		font-size: 1.777rem;
	}

	#wctitle {
		font-size: 1.60rem;
	}

	.carouselmedia {
		order: 2;
		margin: 1rem;
	}

	.carouseldescription {
		order: 3;
		margin: 1rem;
		margin-top: 0rem;
		text-align: center;
	}

	.carouselarrows {
		order: 4;
		position: absolute;
		bottom: 2rem;
		width: 100%;
	}

	h1 {
		font-size: 2.441rem;
		padding-top: 1.5rem;
	}

	h2 {
		font-size: 1.953rem;
	}

	h3 {
		font-size: 1.25rem;
	}
}